/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    width: 80px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*********** extra formatting for genres.html and venues.html     */
.genre-format,
.venue-format {
    margin-top: 5px;
    font-size: 1.5rem;
}

/************************************************** nnn page      */
/* This covers formatting for nnn.html templates                  */
/* where nnn = 400, 401, 402, 403, 404, 405, 500                  */

.screen-nnn {
    height: 100%;
    width: 100%;
    position: absolute;
    place-content: center center;
    text-align: center;
    color: black;
    background-color: #98d4a6;
}

.screen-nnn h1 {
    margin-top: 0px;
    height: 50px;
    text-shadow: 0 0 .2rem red, 0 0 .2rem red;
    font-size: 10rem;
    letter-spacing: 20px;
    color: red;
}

.screen-nnn h2 {
    margin-top: 100px;
    text-shadow: 0 0 .2rem white, 0 0 .2rem white;
    font-size: 2rem; 
    letter-spacing: 5px;
    padding-bottom: 0.8rem;
}

.screen-nnn p {
    text-shadow: 0 0 .15rem white, 0 0 .15rem white;
    font-size: 1.3rem; 
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.screen-nnn a {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
    text-decoration: none;
    border: 5px solid yellow;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .8rem 1.6rem;
    cursor: pointer;
    color: black;
    text-shadow: 0 0 .1rem blue, 0 0 .1rem blue;
    letter-spacing: 2px;
    font-size: 1.3rem; 
}

.screen-nnn a:hover {
    background-color: red;
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

img.iconsize {
    width: 400px;
    height: 400px;
}

h4 {
    font-size: 1.5rem;
    color: orangered;
}

/********************************************************* Footer */

.page-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 50px 0 0 0;
    color: whitesmoke;
    background-color: #ee6e73;
}

.page-footer h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

.footer-container {
    text-align: center;
}

.footer-row {
    margin: 0;
}

/************************************************** Media queries */
/* Small to Medium devices (newer mobile phones, up to 768px) */
@media only screen and (max-width:768px) {
    nav .brand-logo {
        font-size: 1.4rem;
        left: 40%;
    }  
}
/* Small devices (newer mobile phones, up to 480px) */
@media only screen and (max-width:480px) {
    nav .brand-logo {
        font-size: 1.2rem;
        left: 35%;
    }  
}
/* Extra Small devices (older mobile phones, up to 372px) */
@media only screen and (max-width:372px) {
    nav .brand-logo {
        font-size: 1rem;
        left: 35%;
    }  
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width:768px) {
    nav .brand-logo {
        font-size: 1.8rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav .brand-logo {
        font-size: 2rem;
    }
}