{% extends "base.html" %}
{% block content %}

    <div class="screen-nnn">
        <div class="row">
            <div class="col s12 m8 l6">
                <h1>403</h1>
                <h2>Forbidden</h2>
                <p>Oops! - Client does not have access rights to the content!</p>
                <a class="btn" href="{{ url_for('get_progs')}}">Go to Home Page<br>(All Programmes)</a>
                <img src="{{url_for ('static', filename='images/logos/ConcertProgrammeBuilder_icon_450x450.svg')}}" 
                    class="iconsize" alt="Concert Programme Builder website icon">
        </div>
    </div>

{% endblock %}