{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text text-darken-4 center-align">All Music Items</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search_pieces') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Music Items</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_pieces') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('piece_add') }}" class="btn-large amber darken-2 text-shadow">
                Add Music Item <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    {% if pieces|length > 0 %}
    <ul class="collapsible">
        {% for piece in pieces %}
        <li>
            <div class="collapsible-header white-text amber darken-4 text-shadow">
                <div class="col s1">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col s2">
                    {% if session.user|lower == "librarian" %}
                    <!-- Only make the Edit and Remove functions available to the librarian -->
                        <a href="{{ url_for('piece_edit', piece_id=piece._id) }}" 
                            class="btn-small light-blue lighten-1">Edit</a>
                        <a href="{{ url_for('piece_delete', piece_id=piece._id) }}"
                            class="btn-small red accent-4">Remove</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    {{ piece.genre_name }} : {{ piece.title }} : {{ piece.composer }}
                </div>
            </div>
            <div class="collapsible-body">
                <p><strong>Arranger : {{ piece.arranger }}</strong></p>
                <p><strong>Status : {{ piece.status }}</strong></p>
                <p><em>Created by: {{ piece.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}