{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-amber-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
                <h4 class="light-amber-text text-darken-4">
                    Site Permissions :
                </h4>
                {% if session.user|lower == "librarian"|lower %}
                    <p><strong>Programmes :</strong><br>
                        Add allowed. Edit and Remove permitted only on own entries</p>
                    <p><strong>Music      :</strong><br>
                        Display, Add, Edit and Remove permitted on all entries</p>
                    <p><strong>Genres     :</strong><br>
                        Display, Add, Edit and Remove permitted on all entries</p>
                    <p><strong>Venues     :</strong><br>
                        Display, Add, Edit and Remove permitted on all entries</p>
                {% else %}
                    <p><strong>Programmes :</strong><br>
                        Add allowed. Edit and Remove permitted only on own entries</p>
                    <p><strong>Music      :</strong><br>
                        No access to Add, Edit or Remove entries<br>
                        (maintained by Librarian)</p>
                    <p><strong>Genres     :</strong><br>
                        No access to Add, Edit or Remove entries<br>
                        (maintained by Librarian)</p>
                    <p><strong>Venues     :</strong><br>
                        Display, Add, Edit and Remove permitted on all entries</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for prog in progs %}
            <div class="col s12 l6 xl4 center-align">  
                
                <div class="card large">
                    <div class="card-content white-text amber">
                        <span class="card-title text-darken-4">{{ prog.concert_venue }} </span>
                    </div>
                    <div class="card-content grey lighten-4">
                        {% if prog.is_finalised %}
                            <i class="fas fa-check-double green-text text-lighten-2 tooltipped"
                                data-position="right" data-tooltip="Final Version"></i>
                        {% else %}
                            <i class="fas fa-check amber-text text-lighten-2 tooltipped"
                                data-position="right" data-tooltip="Draft Version"></i>
                        {% endif %}
                        <p> <i class="material-icons dp48">schedule</i> {{ prog.concert_date }} </p>
                        <p><strong>Playing between : {{ prog.concert_times }}</strong></p>
                        <p><strong>Band performing : {{ prog.band_name }}</strong></p>
                        <br>
                        <p><strong>Music to be played from:</strong></p>
                        {%for music_item in prog.prog_items%}
                            <p><strong>{{loop.index}}. {{ music_item }}</strong></p>
                        {%endfor%}
                        <br>
                        <p><em>Created by: {{ prog.created_by }}</em></p>
                    </div>
                    {% if session.user|lower == prog.created_by|lower %}
                        <div class="card-action">
                            <a href="{{ url_for('prog_delete', prog_id=prog._id) }}" class="btn-small red accent-4">Delete</a>
                            <a href="{{ url_for('prog_edit', prog_id=prog._id) }}" 
                            class="btn-small light-blue lighten-1">Edit</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}