{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text text-darken-4 center-align">All Concert Programmes</h3>

    <ul class="collapsible">
        {% for prog in progs %}
        <li>
            <div class="collapsible-header white-text amber darken-4 text-shadow">
                <p>
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ prog.concert_venue }}</strong> : 
                    {{ prog.concert_date.strftime("%A %d %B %Y") }}
                    {% if prog.is_finalised %}
                        <i class="fas fa-check-double green-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="Final Version"></i>
                    {% else %}
                        <i class="fas fa-check amber-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="Draft Version"></i>
                    {% endif %}
                </p>
            </div>
            <div class="collapsible-body">
                <p><strong>Playing between : {{ prog.concert_times }}</strong></p>
                <p><strong>Band performing : {{ prog.band_name }}</strong></p>
                {% for item in prog.prog_item %}
                    <p>{{ item }}</p>
                {% endfor %}
                <p><em>Created by: {{ prog.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}