{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text text-darken-4 center-align">Edit Concert Programme</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('prog_edit', prog_id=prog._id) }}">
            <!-- venue selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-theater-masks prefix amber-text text-darken-4"></i>
					<select id="concert_venue" name="concert_venue" class="validate" required>
                        <option value="" disabled>Choose Venue</option>
                        {% for venue in venues %}
                            {% if venue.venue_name == prog.concert_venue %}
                                <option value="{{ venue.venue_name }}" selected>{{ venue.venue_name }}</option>
                            {% else %}
                                <option value="{{ venue.venue_name }}">{{ venue.venue_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="concert_venue">Venue</label>
				</div>
			</div>
            <!-- concert date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix amber-text text-darken-4"></i>
                    <input id="concert_date" name="concert_date" type="text" 
                        value="{{ prog.concert_date }}" class="datepicker validate" required>
                    <label for="concert_date">Concert Date</label>
                </div>
            </div>
            <!-- concert timings -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix amber-text text-darken-4"></i>
                    <input id="concert_times" name="concert_times" minlength="3" maxlength="20"
                        type="text" value="{{ prog.concert_times }}" class="validate" required>
                    <label for="concert_times">Concert Times</label>
                </div>
            </div>
            <!-- band selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-users prefix amber-text text-darken-4"></i>
					<select id="band_name" name="band_name" class="validate" required>
                        <option value="" disabled>Choose Band</option>
                        {% for band in bands %}
                            {% if band.band_name == prog.band_name %}
                                <option value="{{ band.band_name }}" selected>{{ band.band_name }}</option>
                            {% else %}
                                <option value="{{ band.band_name }}">{{ band.band_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="band.band_name">Band Playing</label>
				</div>
			</div>
            <!-- music selection -->
            <div class="row">
                <div class="tooltip-container">
                    <a class="tooltipped" data-position="left" 
                        data-tooltip="Select from the Genres list,<br>
                        which will then display a candidate list of<br>
                        pieces to select. The selected items will<br>
                        then be populated below within Music Items.">
                        <i class="far fa-question-circle prefix blue-text text-darken-4"></i>
                    </a>
                </div>
				<div class="input-field col s12">
                    <i class="fas fa-search prefix blue-text text-darken-4"></i>
					<select id="genre" name="title" class="validate" required>
                        <option value="" disabled>Choose Music</option>
                        <option value="All-Genres" selected>All Genres</option>
                        {% for genre in genres %}
                            <option value="{{ genre.genre_name }}">
                                {{ genre.genre_name }}
                            </option>
                        {% endfor %}
                    </select>
					<label for="genre.genre_name">Genres</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-music prefix amber-text text-darken-4"></i>
                    <select id="music_items_selector" class="validate" name="music_items_selector" multiple required>
                        {%for music_item in prog.prog_items%}
                            <option value="{{music_item}}" selected> {{music_item}}</option>
                        {%endfor%}
                    </select>
                    <label for="music_item.title">Music Items</label>
                </div>
            </div>
            <!-- is finalised toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fab fa-firstdraft prefix amber-text text-darken-4"></i>
						<label for="is_finalised">
                            {% if prog.is_finalised %}
                                <input type="checkbox" id="is_finalised" name="is_finalised" checked>
                            {% else %}
                                <input type="checkbox" id="is_finalised" name="is_finalised">
                            {% endif %}
                            <span class="lever"></span>
                            Is Finalised
                        </label>
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_progs') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large amber darken-1 text-shadow">
                        Edit Programme <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}